body {
    background-color: black;
    color: aliceblue;
}

#information, #repos {
    max-width: 500px;
    margin: auto;
    padding: 10px;
}

img {
    width: 100%;
    max-width: 120px;
}